<div class="container">
    
    <div class="row" style="margin-top: 10%;">
        <div class="col-lg-3">
        
        </div>
        <div class="col-lg-6">
            <mat-card>
                <mat-card-title>Hashtags(#)</mat-card-title>
                <mat-card-subtitle>Pesquise aqui hashtags do Twitter!</mat-card-subtitle>
                <mat-card-content>
                    <div style="width: 100%; margin-top: 3%;">
                        <input type="text" class="form-control" id="hashtag" (input)="pesquisar()" placeholder="#hashtag" [(ngModel)]="hashtag">
                        <span style="color: rgb(199, 60, 60);">{{ msg }}</span>
                        <br>
                        <button mat-flat-button (click)="salvarHashs()" *ngIf="result_search.length > 0" style="background-color: rgba(29,161,242,1.00); color: white; margin-top: 5px;">Salvar</button>
                    </div>
                    <div>
                        <mat-list role="list">
                            <mat-list-item role="listitem" *ngFor="let res of result_search">
                                {{ res }}
                            </mat-list-item>
                        </mat-list>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3">
        
        </div>
    </div>
</div>
