<div class="container">
    
    <div class="row" style="margin-top: 10%;">
        <div class="col-lg-3">
        
        </div>
        <div class="col-lg-6">
            <div class="quadro border" style="width: 100%; border-radius: 4.5px;">
                <label for="hashtag" class="form-label">Hash Tag(#)</label>
                <input type="text" class="form-control" id="hashtag" placeholder="#hashtag" [(ngModel)]="hashtag">

                <br>
                <button type="button" class="btn btn-primary" (click)="pesquisar()">Buscar</button>
            </div>
        </div>
        <div class="col-lg-3">
        
        </div>
    </div>
</div>
