<!-- <p-gmap [options]="options" [overlays]="overlays" [style]="{'width':'100%','height':'320px'}" ></p-gmap> -->

<div class="container">
    
    <div class="row" style="margin-top: 5%;">
        <div class="col-lg-1">
        
        </div>
        <div class="col-lg-10">
            <mat-card>
                <mat-card-title>Hashtags Monitoradas</mat-card-title>
                <mat-card-subtitle>Aqui você poderá ver a localização dos tweets que possuem hashtag monitorada!</mat-card-subtitle>
                <mat-card-content>
                    <div style="width: 100%; margin-top: 3%;">
                        
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-1">
        
        </div>
    </div>
</div>
