<div class="container">
    <!-- <div class="row">
      <div class="col-4">
        
      </div>
      <div class="col-6 contorno">
        <div class="card" style="width: 100%;">
            <label for="user" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="user" aria-describedby="emailHelp">
            <br>
            <label for="user" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="user" aria-describedby="emailHelp">
        </div>
      </div>
      <div class="col-4">
        
      </div>
    </div> -->
    
        <div class="row" style="margin-top: 10%;">
          <div class="col-lg-4">
            
          </div>
          <div class="col-lg-4">
            <div class="quadro border" style="width: 100%;">
                <h3 class="text-center" style="margin-top: -7%;">Login</h3>
                <label for="user" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="user" [(ngModel)]="user" aria-describedby="emailHelp">
                <br>
                <label for="user" class="form-label">Senha</label>
                <input type="password" class="form-control" id="password" [(ngModel)]="password" aria-describedby="emailHelp">
                <br>
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <button type="button" (click)="logar()" class="btn btn-primary">Acessar</button>
                    </div>
                    <div class="col-lg-4"></div>
                </div>
                
            </div>
          </div>
          <div class="col-lg-4">
            
          </div>
        </div>
  </div>

  <!-- <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
<a href="https://twitter.com/intent/tweet?in_reply_to=463440424141459456">Reply</a>
<a href="https://twitter.com/intent/retweet?tweet_id=463440424141459456">Retweet</a>
<a href="https://twitter.com/intent/like?tweet_id=463440424141459456">Like</a> -->