<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="pesquisa-hashtags">Hash Tags</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="hashtags-monitoradas">#Monitorada</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav> -->

  <mat-sidenav-container class="example-container">
    <mat-sidenav mode="over" #sidenav [(opened)]="abrir">
      <mat-list role="list">
        <mat-list-item role="listitem" (click)="goToLocation('/aplicacao/pesquisa-hashtags')" [ngClass]="{ativa: route.url == '/aplicacao/pesquisa-hashtags'}">Hashtags</mat-list-item>
        <mat-list-item role="listitem" (click)="goToLocation('/aplicacao/hashtags-monitoradas')" [ngClass]="{ativa: route.url == '/aplicacao/hashtags-monitoradas'}" >Hashtags Monitoradas</mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="padding-bottom: 2%; background-color: rgba(29,161,242,1.00);">
        <button mat-button (click)="sidenav.toggle()">
          <mat-icon aria-hidden="false" aria-label="Example home icon" style="color: white;">menu</mat-icon>
        </button>
        <!-- <div>
          <span style="color: white; font-size: 22px;">#Hash_tags</span>
        </div> -->
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
    
  </mat-sidenav-container>
  
  <!-- <mat-drawer-container>
    <mat-drawer mode="side" opened>Drawer content</mat-drawer>
    <mat-drawer-content>Main content</mat-drawer-content>
  </mat-drawer-container> -->

  <!-- <mat-sidenav-container class="example-container">
    <mat-sidenav opened mode="side">Start content</mat-sidenav>
    <mat-sidenav opened mode="side" position="end">End content</mat-sidenav>
    Implicit main content
  </mat-sidenav-container> -->
  <!-- <router-outlet></router-outlet> -->
  