mat-sidenav {
  width: 250px;
  height: 100%;
}
.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
mat-list-item:hover{
    background-color: rgb(245, 245, 245);
}
mat-list-item{
    cursor: pointer;
}
.ativa{
    font-weight: bold;
}
.desativa{
    font-style: normal;
}